body{
    background-color: #444;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}

h1,h2 {
    font-weight: 300;
}